@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Montserrat:wght@400;700&display=swap');

/************************************Global Styles and Main App Styles**************************************************************************/
body {
  font-family: 'Lora', serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
}

ol {
  font-family: 'Montserrat', sans-serif;
}
ul {
  margin-top: 3rem;
  position: relative;
  left: 10rem;
  text-align: center;
  width: 70%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

hr {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.headings {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.issuesEmail {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0 3rem 0;
}

.heading-R {
  text-align: right;
}

.app {
  transition: all 1s;
}
.formDiv {
  text-align: center;
  transition: all 1s;
}

.image-div {
  padding: 0 1% 0 1%;
}

.signOnprompt {
  text-align: center;
}

.signOntext {
  margin: 2rem 0 2rem 0;
}

.signOnGroup {
  margin: 0.5rem 0 0.5rem 0;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.usernameBox .accounts {
  position: relative;

  text-align: center;
  height: 100%;
}

.banking {
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
  margin: 1.5rem 0 1.5rem 0;
}

.bankingTitle {
  text-align: center;
}

.bankingText {
  text-align: center;
}
.bankingImg {
  font-size: 2.7rem;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #f7ef8a;
}

.balance {
  font-family: 'Montserrat', sans-serif;
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 150%;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1rem;
  color: #888;
}

.balance__value {
  font-size: 1.9rem;
  font-weight: 400;
}

.accounts {
  grid-row: 1 / span 2;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.accountContainer {
  margin-bottom: 1rem;
}

.accountsTitle {
  font-size: 90%;
}

.lastUpdated {
  text-align: right;
}

.updateDate {
  text-align: right;
}

.switchButton {
  text-align: right;
}

.accountsRow {
  font-family: 'Montserrat', sans-serif;

  border-bottom: 1px solid #eee;
}

.transactionsSection {
  position: relative;
  bottom: 30rem;
  right: 3rem;
  text-align: center;
  height: 100%;
  width: 35rem;
}

.transactions {
  height: 30rem;

  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.transactions__row {
  font-family: 'Montserrat', sans-serif;
  padding: 2.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.transactions__type {
  text-align: center;
  height: 2.5rem;
  width: 50%;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  /*padding: 0.1rem 1rem;*/
  border-radius: 10rem;
}

.transactionsTypeText {
  margin-top: 0.7rem;
}

.transactions__date {
  font-size: 1.1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin: 0 1rem 0 1rem;
}

.transactions__type--deposit {
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
}

.transactions__type--withdrawal {
  background-image: linear-gradient(to top left, #7d7d7a, #8e8d8d);
}

.transactions__value {
  font-size: 1.1rem;
  margin-left: auto;
}
.toolsTitle {
  text-align: center;
}

.operation {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  padding: 3rem 4rem;
  margin: auto;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
}
.operation--loan {
  background-image: linear-gradient(to top left, #7d7d7a, #8e8d8d);
  margin: 1rem;
}

.operation--close {
  background-image: linear-gradient(to top left, #8b0001, #9e1711);
  color: #eee;
}

.operation--donate {
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
  margin: 1rem;
}

.operation--switch {
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
  padding: 1rem 2rem;
  width: 95%;
}

.switchTitle {
  font-size: 1.3rem;
}

.switchLabel {
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form--close {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.1rem 1rem;
}

.formCloseDiv {
  padding-right: 100rem;
}

.donateForm {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto;
  gap: 0.4rem 1rem;
}
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.title {
  font-size: 1.9rem;
  font-weight: 500;
}

.subText {
  text-align: center;
  width: 100rem;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem 0 2rem 0;
}

.logo {
  height: 3.25rem;
}

.header {
  text-align: center;
}

.backBtn {
  text-align: center;
}
.boxes {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  margin: 1rem;
  color: #333;
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
}

.backBox {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  margin: 1rem;
  color: white;
  background-color: black;
}
.buttonRow {
  width: 100%;
}

.lBox {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  margin: 25px;
  color: #333;
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
}

.lessonBtn:hover {
  color: #f7ef8a;
}

.lessonSubtitle {
  margin: 2rem 0 2rem 0;
}

.lessonSeperator {
  margin: 0 0 4rem 0;
}

.closeButton {
  margin-top: 3rem;
}

.T1 {
  display: block;
  border: none;
  border-radius: 4rem;
  overflow: scroll;
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
  height: 80%;
  width: 60%;
  opacity: 0;
  transition: all 1.5s;
}

.T1[open] {
  opacity: 1;
}
.T1::-webkit-scrollbar {
  display: none;
}
.T1::backdrop {
  background-image: linear-gradient(to top left, #8e8d8d, #f7ef8a);
  opacity: 0.5;
  transition: all 2.5s;
}

.carousel-control-next {
  padding: 2rem;
}

.noteHead {
  margin: 1rem 0;
}
.note {
  margin: 1rem auto 1rem auto;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.1rem;
  width: 80%;
}

.noteContainer {
  overflow: scroll;
}

.carousel {
  height: 25rem;
}

.carousel-item {
  margin-top: 2rem;
}

.carousel-inner {
  text-align: center;
  height: 25rem;
}

.feedbackForm {
  margin: 1rem 20rem 0;
}

.feedbackPrompt {
  font-family: 'Montserrat', sans-serif;
  display: block;
  border: none;
  border-radius: 4rem;
  overflow: scroll;
  background-image: linear-gradient(to top left, #ae8626, #f7ef8a);
  height: 40rem;
  width: 70rem;
  opacity: 0;
  transition: all 1.5s;
}

.feedbackPrompt[open] {
  opacity: 1;
}
.feedbackPrompt::-webkit-scrollbar {
  display: none;
}
.feedbackPrompt::backdrop {
  background-image: linear-gradient(to top left, #8e8d8d, #f7ef8a);
  opacity: 0.5;
  transition: all 2.5s;
}
.submitBtn {
  border: none;
  border-radius: 2rem;
  text-align: center;
  margin: 0 12rem;
}

.feedbackAndClear {
  text-align: center;
}

.feedbackButton:hover {
  color: #f7ef8a;
}

.feedbackButton {
  color: white;
}

.clearStorage:hover {
  color: #f7ef8a;
}

.clearStorage {
  color: white;
}

@media (max-width: 768px) {
  .T1 {
    max-width: 30%; /* Adjust the maximum width as needed for mobile screens */
    margin-right: 47.5rem;
    height: 20%;
  }

  .T1::backdrop {
    background-image: linear-gradient(to top left, #8e8d8d, #f7ef8a);
    opacity: 0.5;
    transition: all 2.5s;
    max-width: 35%;
  }

  .L1Vid {
    width: 50%;
  }
}

@media (min-width: 770px) {
  .T1 {
    max-width: 100%; /* Adjust the maximum width as needed for mobile screens */
    margin-left: 7.8rem;
    height: 50%;
  }

  .T1::backdrop {
    background-image: linear-gradient(to top left, #8e8d8d, #f7ef8a);
    opacity: 0.5;
    transition: all 2.5s;
    max-width: 100%;
  }

  .L1Vid {
    width: 50%;
  }
}

@media (max-width: 10000px) {
  .T1 {
    max-width: 100%; /* Adjust the maximum width as needed for mobile screens */
    margin: auto;
    height: 70%;
  }

  .T1::backdrop {
    background-image: linear-gradient(to top left, #8e8d8d, #f7ef8a);
    opacity: 0.5;
    transition: all 2.5s;
    max-width: 100%;
  }

  .L1Vid {
    width: 50%;
  }
}
